.sign {
  height: 100%;
  min-height: 750px;
  text-align: center;
  font-size: 14px;
  background-color: #f1f1f1;
  &:before {
    content: "";
    display: inline-block;
    height: 85%;
    vertical-align: middle;
  }
  .disable {
    opacity: 0.5;
    pointer-events: none;
  }
  .disable-gray {
    opacity: 0.5;
    pointer-events: none;
    background-color: #969696;
  }
  .tooltip-error {
    font-size: 14px;
    line-height: 25px;
    white-space: nowrap;
    background: none;
    .tooltip-inner {
      max-width: 280px;
      color: #333;
      border: 1px solid #ea6f5a;
      background-color: #fff;
      i {
        position: static;
        margin-right: 5px;
        font-size: 20px;
        color: #ea6f5a;
        vertical-align: middle;
      }
      span {
        vertical-align: middle;
        display: inline-block;
        white-space: normal;
        max-width: 230px;
      }
    }
    &.right {
      .tooltip-arrow-border {
        border-right-color: #ea6f5a;
      }
      .tooltip-arrow-bg {
        left: 2px;
        border-right-color: #fff;
      }
    }
  }
  .slide-error {
    position: relative;
    padding: 10px 0;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    i {
      position: static !important;
      margin-right: 10px;
      color: #ea6f5a !important;
      vertical-align: middle;
    }
    span {
      font-size: 15px;
      vertical-align: middle;
    }
    div {
      margin-top: 10px;
      font-size: 13px;
    }
    a {
      color: #3194d0;
    }
  }
  .js-sign-up-forbidden {
    color: #999;
    padding: 80px 0 100px;
  }
  .js-sign-up-container .slide-error {
    border-bottom: none;
    border-radius: 0;
  }
  .logo {
    position: absolute;
    top: 56px;
    margin-left: 50px;
    img {
      width: 100px;
    }
  }
  .main {
    width: 400px;
    margin: 60px auto 0;
    padding: 50px 50px 30px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
    display: inline-block;
  }
  .reset-title,
  .title {
    margin: 0 auto 50px;
    padding: 10px;
    font-weight: 400;
    color: #969696;
  }
  .reset-title a,
  .title a {
    padding: 10px;
    color: #969696;
  }
  .reset-title a:hover,
  .title a:hover {
    border-bottom: 2px solid #ea6f5a;
  }
  .reset-title .active,
  .title .active {
    font-weight: 700;
    color: #ea6f5a;
    border-bottom: 2px solid #ea6f5a;
  }
  .reset-title b,
  .title b {
    padding: 10px;
  }
  .reset-title {
    color: #333;
    font-weight: 700;
  }
  form {
    margin-bottom: 30px;
    .input-prepend {
      position: relative;
      width: 100%;
      input {
        width: 100%;
        height: 50px;
        margin-bottom: 0;
        padding: 4px 12px 4px 35px;
        border: 1px solid #c8c8c8;
        border-radius: 0 0 4px 4px;
        background-color: hsla(0, 0%, 71%, 0.1);
        vertical-align: middle;
      }
      i {
        position: absolute;
        top: 14px;
        left: 10px;
        font-size: 18px;
        color: #969696;
      }
      span {
        color: #333;
      }
      .ic-show {
        top: 18px;
        left: auto;
        right: 8px;
        font-size: 12px;
      }
    }
    .geetest-placeholder {
      height: 44px;
      border-radius: 4px;
      background-color: hsla(0, 0%, 71%, 0.1);
      text-align: center;
      line-height: 44px;
      font-size: 14px;
      color: #999;
    }
    .restyle {
      margin-bottom: 0;
      input {
        border-bottom: none;
        border-radius: 4px 4px 0 0;
      }
    }
    .no-radius input {
      border-radius: 0;
    }
    .slide-security-placeholder {
      height: 32px;
      background-color: hsla(0, 0%, 71%, 0.1);
      border-radius: 4px;
      p {
        padding-top: 7px;
        color: #999;
        margin-right: -7px;
      }
    }
  }
  .overseas-btn {
    font-size: 14px;
    color: #999;
    &:hover {
      color: #2f2f2f;
    }
  }
  .remember-btn {
    float: left;
    margin: 15px 0;
    span {
      margin-left: 5px;
      font-size: 15px;
      color: #969696;
      vertical-align: middle;
    }
  }
  .forget-btn {
    float: right;
    position: relative;
    margin: 15px 0;
    font-size: 14px;
    a {
      color: #999;
      &:hover {
        color: #333;
      }
    }
    .dropdown-menu {
      top: 20px;
      left: auto;
      right: 0;
      border-radius: 4px;
      a {
        padding: 10px 20px;
        color: #333;
      }
    }
  }
  #sign-in-loading {
    position: relative;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-top: -4px;
    margin-right: 2px;
    display: none;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
    }
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 20px;
      margin: -10px 0 0 -10px;
      border-radius: 10px;
      border: 2px solid #fff;
      border-bottom-color: transparent;
      vertical-align: middle;
      -webkit-animation: rolling 0.8s infinite linear;
      animation: rolling 0.8s infinite linear;
      z-index: 1;
    }
  }
  .sign-in-button,
  .sign-up-button {
    margin-top: 20px;
    width: 100%;
    padding: 9px 18px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    color: #fff;
    background: #42c02e;
    cursor: pointer;
    outline: none;
    display: block;
    clear: both;
  }
  .sign-in-button:hover,
  .sign-up-button:hover {
    background: #3db922;
  }
  .sign-in-button {
    background: #3194d0;
    &:hover {
      background: #187cb7;
    }
  }
  .btn-in-resend,
  .btn-up-resend {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 100px;
    height: 36px;
    font-size: 13px;
    color: #fff;
    background-color: #42c02e;
    border-radius: 20px;
    line-height: 36px;
  }
  .btn-in-resend {
    background-color: #3194d0;
  }
  .sign-up-msg {
    margin: 10px 0;
    padding: 0;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #969696;
    a {
      color: #3194d0;
      &:hover {
        color: #3194d0;
      }
    }
  }
  .overseas {
    input {
      padding-left: 110px !important;
    }
    .overseas-number {
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 50px;
      font-size: 18px;
      color: #969696;
      border-right: 1px solid #c8c8c8;
      span {
        margin-top: 17px;
        padding-left: 35px;
        text-align: left;
        font-size: 14px;
        display: block;
      }
    }
    .dropdown-menu {
      width: 100%;
      max-height: 285px;
      font-size: 14px;
      border-radius: 0 0 4px 4px;
      overflow-y: auto;
      li {
        .nation-code {
          width: 65px;
          display: inline-block;
        }
        a {
          padding: 6px 20px;
          font-size: 14px;
          line-height: 20px;
          &::hover {
            color: #fff;
            background-color: #f5f5f5;
          }
        }
      }
    }
  }
  .more-sign {
    margin-top: 50px;
    h6 {
      position: relative;
      margin: 0 0 10px;
      font-size: 12px;
      color: #b5b5b5;
      &:before {
        left: 30px;
      }
      &:after,
      &:before {
        content: "";
        border-top: 1px solid #b5b5b5;
        display: block;
        position: absolute;
        width: 60px;
        top: 5px;
      }
      &:after {
        right: 30px;
      }
    }
    ul {
      margin-bottom: 10px;
      list-style: none;
      li {
        margin: 0 5px;
        display: inline-block;
      }
      a {
        width: 50px;
        height: 50px;
        line-height: 50px;
        display: block;
      }
      i {
        font-size: 28px;
      }
    }
    .ic-weibo {
      color: #e05244;
    }
    .ic-wechat {
      color: #00bb29;
    }
    .ic-qq_connect {
      color: #498ad5;
    }
    .ic-douban {
      color: #00820f;
    }
    .ic-more {
      color: #999;
    }
    .weibo-loading {
      pointer-events: none;
      cursor: pointer;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
      }
    }
  }
}

body.reader-night-mode .sign .more-sign .weibo-loading:after {
  background-color: #3f3f3f;
}

.sign {
  .more-sign .weibo-loading:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin: -10px 0 0 -10px;
    border-radius: 10px;
    border: 2px solid #e05244;
    border-bottom-color: transparent;
    vertical-align: middle;
    -webkit-animation: rolling 0.8s infinite linear;
    animation: rolling 0.8s infinite linear;
    z-index: 1;
  }
  .reset-password-input {
    border-radius: 4px !important;
  }
  .return {
    margin-left: -8px;
    color: #969696;
    &:hover {
      color: #333;
    }
    i {
      margin-right: 5px;
    }
  }
  .icheckbox_square-green {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    background: url(//cdn2.jianshu.io/assets/radio/green-062604c1c0196db73a5dda860fdbddb0.png) no-repeat;
    border: none;
    cursor: pointer;
    background-position: 0 0;
    &.hover {
      background-position: -20px 0;
    }
    &.checked {
      background-position: -40px 0;
    }
    &.disabled {
      background-position: -60px 0;
      cursor: default;
    }
    &.checked.disabled {
      background-position: -80px 0;
    }
  }
}

@keyframes rolling {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@-webkit-keyframes rolling {
  0% {
    -webkit-transform: rotate(0deg);
  }

  to {
  }
}

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  .sign .icheckbox_square-green {
    background-image: url(//cdn2.jianshu.io/assets/radio/green@2x-7f6fb7d319eec1b0f9e6cb4bc65b1146.png);
    background-size: 200px 20px;
  }
}

.geetest_panel_box > * {
  box-sizing: content-box;
}

@media (max-width: 768px) {
  body {
    min-width: 0;
  }
  .sign {
    height: auto;
    min-height: 500px;
    background-color: transparent;
    .logo {
      display: none;
    }
    .main {
      position: absolute;
      left: 50%;
      margin: 0 0 0 -200px;
      box-shadow: none;
    }
  }
}

/*# sourceMappingURL=entry-725103a0668ccb1789d4.css.map*/
